<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Images/bg01.png</key>
			<dict>
				<key>width</key>
				<integer>800</integer>
				<key>height</key>
				<integer>480</integer>
				<key>originalWidth</key>
				<integer>800</integer>
				<key>originalHeight</key>
				<integer>480</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Images/LeftEdge.png</key>
			<dict>
				<key>width</key>
				<integer>5</integer>
				<key>height</key>
				<integer>500</integer>
				<key>originalWidth</key>
				<integer>5</integer>
				<key>originalHeight</key>
				<integer>500</integer>
				<key>x</key>
				<integer>802</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Images/RightEdge.png</key>
			<dict>
				<key>width</key>
				<integer>5</integer>
				<key>height</key>
				<integer>500</integer>
				<key>originalWidth</key>
				<integer>5</integer>
				<key>originalHeight</key>
				<integer>500</integer>
				<key>x</key>
				<integer>809</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Images/top.png</key>
			<dict>
				<key>width</key>
				<integer>820</integer>
				<key>height</key>
				<integer>5</integer>
				<key>originalWidth</key>
				<integer>820</integer>
				<key>originalHeight</key>
				<integer>5</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>502</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Images/Bottom.png</key>
			<dict>
				<key>width</key>
				<integer>820</integer>
				<key>height</key>
				<integer>5</integer>
				<key>originalWidth</key>
				<integer>820</integer>
				<key>originalHeight</key>
				<integer>5</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>509</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>GameUI0.png</string>
			<key>realTextureFileName</key>
			<string>GameUI0.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>